@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
/* Styling Logo */
.logo{
    font-size: 2rem;
    color: #000;
    cursor: pointer;
}
.logo span:hover{
    color: #dc143c;
}
/* Styling Navbar */
.navbar{
    margin-left: -200px;
}
.navbar a{
    font-size: 1.1rem;
    color: #000;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
}
.navbar a:hover{
    color: #dc143c;
}
.btn-hire{
    color: #fff;
    background: #dc143c;
    text-decoration: none;
    padding: 8px 35px;
    border: 2px solid #dc143c;
    border-radius: 14px;
    font-weight: 500;
}
.btn-hire:hover{
    color: #dc143c;
    background: #fff;
}
.home{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url('background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}
.content{
    max-width: 500px;
    color: #000;
}
.content h2{
    font-size: 3rem;
}
.content h2 span{
    color: #dc143c;
}
.content h4{
    font-size: 2rem;
}
.content p{
    padding: 10px 0 40px 0;
}
.btn-group a{
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
    background: #dc143c;
    border: 2px solid #dc143c;
    border-radius: 14px;
    font-weight: 500;
    transition: .3s;
}
.btn-group a:hover{
    color: #dc143c;
    background: transparent;
}
.btn-group a:nth-child(2){
    color: #dc143c;
    background: transparent;
    margin-left: 30px;
    padding: 10px 30px;
}
.btn-group a:hover:nth-child(2){
    color: #fff;
    background: #dc143c;
}
/* Icon Styling */
.icon{
    position: absolute;
    bottom: 50px;
}
.icon a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: #dc143c;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #dc143c;
}
.icon a i{
    color: #fff;
}